.car-type {
	display: inline-block;
	width: 55px;
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 3px;
	color: #fff;
	font-family: Arial;
	font-weight: 600;
	text-align: center;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}
.car-type:active {
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}
#wtc-crusher {
	background-color: #2f2f2f;
}
#wtc-heist {
	background-color: #c50f0f;
}
#wtc-oc-moc {
	background-color: #3c47af;
}
#wtc-race {
	background-color: #eb901b;
}
#wtc-raid {
	background-color: #36a91f;
}

